@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
}

body {
  background: rgb(var(--background-rgb));

  * {
    color: rgb(var(--foreground-rgb));
  }
}

.container {
  @apply max-w-[560px] mx-auto px-4;
}
